<template>
    <div>
        <div class="row"  v-for="n in 5">
            <div class="col" v-for="n in 7">
                <div id="inner-left-border"></div>
                <div id="inner-right-border"></div>
                    <app-alert-calendar-detailed :dayCount="returnDayCount()"></app-alert-calendar-detailed>
            </div>
        </div>
    </div>
</template>
<script>
    import AlertCalendarDetailed from '@/components/AlertCalendarDetailed.vue'

    let count = -2;
    export default {
        data() {
            return {
            }
        },
        components: {
            'app-alert-calendar-detailed' : AlertCalendarDetailed
        },
        methods: {
            returnDayCount()  {

                count++;
                if( count < 32 && count > 0 ) {
                    return count
                }else {
                    return ''
                }
            }
        },
        created() {
            count = -2;
        }
    }
</script>
<style scoped>
    .col{
        border:1px solid #7e7e7e;
        height: 150px;
    }
    .row{
        color: #7e7e7e;
        font-size: 21px;
        vertical-align: top;
        font-family: 'BlenderProBold';
    }
    #inner-left-border{
        width: 1px;
        height: 60%;
        top: 20%;
        margin-left: -1px;
        position: absolute;
        border: 1px solid black;
    }
    #inner-right-border{
        width: 1px;
        height: 60%;
        border: 1px solid black;
        top: 20%;
        right: 0;
        position: absolute;
        margin-right: -1px;
    }

</style>