<template>
    <div class="row alert-detail">
        <div class="col container vl">
            <div class="row">
                <div class="col-auto">
                    <span>SEEN :</span>
                </div>
                <div class="col-auto">
                    <img v-if="alert.isSeen" src="../assets/images/tick.svg">
                    <img v-else src="../assets/images/false.svg">
                </div>
                <div class="col-auto">
                    <span>INSERTED AT:</span>
                </div>
                <div class="col-1">
                    <span class="colored">{{ new Date(parseInt(alert.insertedAt.substr(0,13))).toLocaleDateString()}}</span>
                </div>
                <div class="col-auto">
                    <span>TAGS:</span>
                </div>
                <div class="col">
                    <span v-for="tag in alert.tag" class="colored">#{{ tag.toUpperCase() }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <span style="min-width: 50px">OWNER: </span>
                </div>
                <div class="col-auto">
                    <template v-if="alert.owner.length === 0">
                        <span class="colored">UNKNOWN</span>
                    </template>
                    <template v-else>
                        <span class="colored">{{ alert.owner }}</span>
                    </template>
                </div>
                <div class="col-auto">
                    <span>TEAMS:</span>
                </div>
                <div class="col-auto">
                    <template v-if="alert.owner.length === 0">
                        <span class="colored">UNKNOWN</span>
                    </template>
                    <template v-else>
                        <span v-for="team in alert.teams" class="colored">  {{ team.toUpperCase() }} </span>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <span>NOTES :</span>
                </div>
                <div class="col">
                    <template v-if="alert.notes.length === 0">
                        <span class="colored">UNKNOWN</span>

                    </template>
                    <template v-else>
                        <div v-for="note in alert.notes"  class="row">
                            <div class="col">
                                <span class="colored">{{ note }} </span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <span>ACKNOWLEDGED:</span>
                </div>
                <template v-if="alert.acknowledged">
                    <div class="col-auto">
                        <img src="../assets/images/tick.svg">
                    </div>
                </template>
                <template v-else>
                    <div class="col-auto">
                        <img src="../assets/images/false.svg">
                    </div>
                </template>
                <div class="col-auto">
                    <span>ACKNOWLEDGED BY:</span>
                </div>
                <div class="col-auto">
                    <template v-if="alert.acknowledgedBy.length === 0">
                        <span class="colored">UNKNOWN</span>
                    </template>
                    <template v-else>
                        <span class="colored">{{ alert.acknowledgedBy }}</span>
                    </template>
                </div>
                <div class="col-auto">
                    <span>CLOSED BY:</span>
                </div>
                <div class="col-auto">
                    <template v-if="alert.closedBy.length === 0">
                        <span class="colored">UNKNOWN</span>
                    </template>
                    <template v-else>
                        <span class="colored">{{ ' ' + alert.closedBy }}</span>
                    </template>
                </div>
                <div class="col-auto">
                    <span>SNOOZED:</span>
                </div>
                <template v-if="alert.snoozed">
                    <div class="col-auto">
                        <img src="../assets/images/false.svg">
                    </div>
                </template>
                <template v-else>
                    <div class="col-auto">
                        <img src="../assets/images/tick.svg">
                    </div>
                </template>
                <div class="col-auto">
                    <span>SNOOZED UNTIL:</span>
                </div>
                <div class="col-auto">
                    <template v-if="alert.snoozedUntil.length === 0">
                        <span class="colored">UNKNOWN</span>
                    </template>
                    <template v-else>
                        <span class="colored">{{ ' ' + alert.snoozedUntil.toUpperCase() }}</span>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-auto" style="margin-right: 10px">
                    <button class="button" @click="addNewNote = !addNewNote">Add new note</button>
                </div>
                <div class="col" >
                    <transition name="textArea">
                            <button  v-if="addNewNote" class="button" id="add" @click="onAddNewNote()">Add</button>
                    </transition>
                </div>
            </div>
            <div class="row">
                <div class="col" style="display: contents">
                    <transition name="textArea">
                        <textarea class="textArea" v-if="addNewNote" v-model="textValue"></textarea>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    export default {
        data() {
            return {
                addNewNote: false,
                textValue: ''
            }
        },
        props: ['alert'],
        methods: {
            onAddNewNote() {
                let data = {
                    alert: this.alert,
                    text: this.textValue
                };

                this.addNoteToAlertAction(data);
                this.$forceUpdate();
                this.textValue = "";
            },
            ...mapActions([
                'addNoteToAlertAction'
            ])
        },


    }
</script>
<style scoped lang="scss">
    span{
        color: #7e7e7e;
        font-size: 16px;
        vertical-align: top;
        margin-right: 10px;
        font-family: 'BlenderProBold';

        .colored{
            color: white;
        }
    }

    img{
        margin-right: 10px;
        width: 15px;
    }
    .alert-detail{

        background-color: #4a4a4a;

        .container{

            overflow: scroll;
            margin-left: 90px;

            //vertical border
            padding-left: 20px;
            border-left:2px solid #7e7e7e;
        }
    }

    .button{
         background-color: #7e7e7e;
         border-radius: 2px;
         border: 1px solid #7e7e7e;
         color: white;
         margin-top: 10px;
         font-size: 15px;
         outline: none;
         cursor: pointer;
         padding: 0 10px 0 10px;

    }

    .button:active {
        background-color: white;
        color: #7e7e7e;
    }

    .textArea{
        font-size: 15px;
        background-color: #7e7e7e;
        border-radius: 2px;
        border: 1px solid #7e7e7e;
        color: white;
        padding-left: 10px;
        margin-top: 10px;
        font-family: BlenderProMedium;
    }

    // for animations
    .textArea-enter-active{
        animation: textArea .2s ease-in forwards;
    }
    .textArea-leave-active{
        animation: textArea-leave .2s ease-in forwards;
    }
    @keyframes textArea {
         from{
             opacity: 0;
             padding: 0;
             border: 0;
             max-width: 0;

         }
         to{
             max-width: 150px;
             opacity: 1;
         }

    }
    @keyframes textArea-leave {
        from{
            max-width: 150px;
            opacity: 1;
        }
        to{
            opacity: 0;
            padding: 0;
            border: 0;
            max-width: 0;
        }

    }
</style>