<template>
    <div>
        <div class="row tabs" style="padding: 0">
            <div class="col"></div>
            <div class="col-auto tab list" @click="onTabSelect('app-alert')">
                <span>
                    LIST
                </span>
            </div>
            <div class="col-auto tab calendar" @click="onTabSelect('app-calendar')">
                <span>
                    CALENDAR
                </span>
            </div>
        </div>
        <hr>
        <transition-group name="alerts" appear>
            <template v-if="selectedComponent === 'app-alert'">
                    <div key="animationKey_1" class="row table-header">
                        <div class="col-auto" style="width: 30px"></div>
                        <div class="col-auto status">
                        <span>
                            Status
                        </span>
                        </div>
                        <div class="col message">
                        <span>
                            Message
                        </span>
                        </div>
                        <div class="col-auto" style="float:right;margin-right: 10px">
                        <span>
                        Created at
                        </span>
                        </div>
                    </div>
                    <hr key="animationKey_2">
                    <app-alert :key="index" v-for="(alert,index) in alerts" :alert="alert" :index="index"></app-alert>
                </template>
                <template v-else>
                    <app-calendar key="animationKey_3"></app-calendar>
                    <hr key="animationKey_4" style="margin-bottom: 20px">
            </template>
        </transition-group>
    </div>

</template>
<script>

    import Alert from './Alert.vue'
    import AlertCalendar from './AlertCalendar.vue'
    import AppAlert from "@/components/Alert.vue";
    import AppCalendar from "@/components/AlertCalendar.vue";
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                selectedComponent: 'app-alert'
            }
        },
        components: {

            AppCalendar,
            AppAlert
        },
        methods: {
            onTabSelect(tab) {

                this.selectedComponent = tab;
            }
        },
        computed: {
            ...mapState({
                alerts: state => state.alerts.noteMountedAlerts
            })
        }
    }
</script>
<style lang="scss" scoped>
    span{
        color: #7e7e7e;
        font-size: 17px;
        font-family: 'BlenderProHeavy';
    }
    hr {
        border-top: 2px solid #7e7e7e;
        margin: 0;
    }

    .tab-selected{
        background-color: #7e7e7e;
        color: black;
    }
    .tabs{
        padding: 5px 0 5px 0;
        .calendar{
            border-left: 2px solid #7e7e7e;
        }
        .list{
            padding-right: 10px;
        }
    }
    .tab{
        color: #7e7e7e;
        font-size: 17px;
        font-family: 'BlenderProHeavy';
        float:right;
        cursor: pointer;
        padding-left: 10px;
    }

    .table-header{
        padding: 5px 0 5px 0;
        .status{
            width: 60px;
            text-align: center;
        }
        .message{
            margin-left: 20px;
        }
    }

    // for animations
    .alerts-enter {
        opacity: 0;
    }
    .alerts-enter-active {
        transition: opacity .5s;
    }
</style>