<template>
    <div>
        <div class="row">
            <div class="col">
                <template v-if="isItToday()">
                    <div class="today">
                        <span>TODAY</span>
                    </div>
                </template>
                <template v-else>
                    <span style="padding-right: 10px;float: right"> {{ dayCount }} </span>
                </template>
            </div>
        </div>
        <div style="overflow: scroll;height: 110px">
            <div class="row" style="padding-left: 10px" v-if="alertsInADay.length > 1" v-for="alert in this.alertsInADay">
                <hr>
                <div class="col-auto" >
                    <img class="status-image" src="../assets/images/green_circle.png" v-if="alert.status === 'open'">
                    <img class="status-image" src="../assets/images/red_circle.png" v-else>
                </div>
                <div class="col">
                    <span class="alert-message"> {{ alert.message.substr(0,15) }}</span>
                </div>
                <div class="col-auto" style="padding-right: 5px">
                    <span class="alert-message"> {{new Date(alert.createdAtTimestamp).toTimeString().substr(0,5)}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                alertsInADay: []
            }
        },
        computed: {
            ...mapState({
                alerts: state => state.alerts.alertsInfoForCalendar
            })
        },
        props: ['dayCount'],
        methods: {
            isItToday() {

                let date = new Date();
                let day = date.getUTCDate();
                return this.dayCount === day;
            }
        },
        mounted() {

                if( this.alerts.hasOwnProperty(this.dayCount) ) {

                    this.alertsInADay = this.alerts[this.dayCount];
                }
        }

    }
</script>
<style scoped>
    .today{
        background-color: #7e7e7e;
        color: black;
        position: relative;
        padding-left: 10px;
    }
    .status-image{
        width: 15px;
    }
    .alert-message{
        font-family: BlenderProMedium;
        font-size: 15px;
    }
</style>