<template>
    <div>
        <div class="row alert"
             @click="toDetailedAlert()">
            <div class="col-auto alert-index">
                <span>
                    {{ index }}
                </span>
            </div>
            <div class="col-auto alert-status">
                <img src="../assets/images/green_circle.png" v-if="alert.status === 'open'" style="width: 15px">
                <img src="../assets/images/red_circle.png" v-else="alert.status === 'open'" style="width: 15px">
            </div>
            <div class="col alert-message">
                <span>
                    {{ alert.message }}
                </span>
            </div>
            <div class="col-auto alert-created-at">
                <span>
                {{ alert.createdAt }}
                </span>
            </div>
        </div>
        <hr>
        <app-alert-detailed :class="{'alert-detailed-actived' : showDetail , 'alert-detailed-deactived' : !showDetail && !initialize,'alert-detailed': true }"
                            :alert="alert"
        ></app-alert-detailed>
        <hr>
    </div>
</template>
<script>
    import AlertDetailed from '@/components/AlertDetailed.vue'
    export default {

        data() {
            return {
                showDetail: false,
                initialize: true
            }
        },

        props: ['alert','index'],

        methods: {

            toDetailedAlert() {

                this.showDetail = !this.showDetail;
                this.initialize = false;
            }
        },
        components: {
            'app-alert-detailed': AlertDetailed
        }
    }
</script>
<style scoped lang="scss">

    span{
        color: #7e7e7e;
        font-size: 17px;
        font-family: 'BlenderProMedium';
        font-weight: 300;
    }

    .alert{
        padding: 5px 0 5px 0;
        cursor: pointer;
        margin: 0;

        .alert-index{
            width: 30px;
            padding-left: 5px;
        }
        .alert-status {
            width: 60px;
            text-align: center;
            align-self: center;
        }
        .alert-message{
            margin-left: 20px;
        }
        .alert-created-at{
            float:right;
            margin-right: 10px;
        }
    }

    // for animations
    .alert-detailed {
        padding: 0;
        max-height: 0;
    }
    .alert-detailed-actived {
        animation: appear .5s ease-out forwards;
    }
    .alert-detailed-deactived {
        animation: disappear .2s forwards;
    }
    @keyframes appear {
        from{
            max-height: 0;
            padding: 0;

        }
        to{
            max-height: 500px;
            padding: 10px 0 10px 0;
        }
    }
    @keyframes disappear {
        from{
            max-height: 500px;
            padding: 10px 0 10px 0;
        }
        to{
            padding: 0;
            max-height: 0;
        }
    }


</style>