<template>
    <div class="row align-items-center no-gutters">
        <div class="col-3 mx-auto">
            <img src="../assets/images/logo.svg">
        </div>
    </div>
</template>
<script>
    export default {

        data() {

            return {

            }
        }
    }
</script>
<style scoped>
    span{
        font-family: 'Open Sans';
        color: white;
        font-size: 16px;
    }
    img{
        padding: 20px 0 20px 0;
    }
    .row{
        background-color: black;
    }
</style>