<template>
  <div class="row no-gutters">
    <transition name="container" appear>
      <div class="col-10 mx-auto box-shadow">
        <app-header></app-header>
        <router-view></router-view>
      </div>
    </transition>
  </div>
</template>

<script>

    import AlertListing from './components/AlertListing.vue'
    import Header from './components/Header.vue'

    export default {
        data() {
            return {}
        },
        components: {
            'app-header': Header,
            'app-alert-listing': AlertListing
        },
        created() {
            this.$store.getters.mountNotesToAlerts;
            this.$store.getters.prepareAlertInfoForCalendar;
        }
    }

</script>
<style lang="scss">
  @font-face {
    font-family: BlenderProBold;
    src: url('assets/fonts/Blender/BlenderProBold/BlenderPro-Bold.otf');
  }
  @font-face {
    font-family: BlenderProHeavy;
    src: url('assets/fonts/Blender/BlenderProHeavy/BlenderPro-Heavy.otf');
  }
  @font-face {
    font-family: BlenderProMedium;
    src: url('assets/fonts/Blender/BlenderProMedium/BlenderPro-Medium.otf');
  }
  body{
    background-color: black;
    div{
      padding: 0;
      .row{
        margin-right: 0;
        margin-left: 0;
      }
      div[class*="col"]
      {
        padding: 0;
      }
    }
    hr {
      border-top: 1px solid #7e7e7e;
      margin: 0;
    }
  }

  //for animation
  .container-enter {
    opacity: 0;
  }
  .container-enter-active {
    transition: opacity 1s;
  }

</style>
